#align-snake{
	display: inline-block;
}
#gc{
	text-align: center;
	padding-left: 500px;
}
h1{
	text-align: center;
}
.instructions{
	text-align:center;
	margin-left:40%;
}
body{
	color: chocolate;
	background-color: aliceblue;
}
